:root {
  --main-background-color: rgb(255, 221, 221);
  --main-text-color: dark;
}

* {
  margin: 0;
  padding: 0;
}

.wrap {
  display: flex;
  background-color: rgb(142, 202, 255);
  justify-content: center;
}

.wrap .logo a img {
  width: 225px;
}

.wrap-menu {
  display: flex;
  background-color: white;
  justify-content: center;
  position: sticky;
  top: 0px;
}

.wrap-menu .nav-list {
  display: flex;
}

.wrap-menu .nav-list li {
  list-style: none;
  padding: 10px 40px;
}

a {
  text-decoration: none;
}

a:visited {
  color: rgb(0, 2, 3);
}

a:link {
  color: rgb(0, 2, 3);
}


.body .section .url-box h1 {
  font-size: 35px;
  font-family: "Lucida Handwriting";
  background-color: white;
  padding-bottom: 5px;
}

.body .section {
  background-color: var(--main-background-color);
  scroll-margin-top: 40px;
  margin: 40px 60px;
}

.body .section .combined-box {
  display:flex;
  align-items: center;
}

.body .section .combined-box .img-box img {
  max-width: 400px;
}

.body .section .combined-box .text-box {
  padding: 0 60px;
  text-align: left; 
}

.body .section .combined-box .text-box p {
  font-family: "Georgia";
  font-size: 25px;
}




